@using TestApp.ViewModels

@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}
<section>
	<h3>Login</h3>
	<form method="post" asp-action="Login">
		<div class="row gtr-uniform">

			<div class="col-6 col-12">
				<label asp-for="EmailAddress">Email</label>
				<input asp-for="EmailAddress" placeholder="Email"></input>
				<span asp-validation-for="EmailAddress" class="text-danger"></span>

			</div>
			<div class="col-6 col-12">
				<label asp-for="Password">Password</label>
				<input asp-for="Password" placeholder="Password"></input>
				<span asp-validation-for="Password" class="text-danger"></span>

			</div>


			<div class="col-12">
				<input type="submit" value="Submit" />
			</div>
		</div>
	</form>
	<a asp-controller="Account" asp-action="Register" class="small fit">Register</a>

</section>